/*************************************************************
	Style of header, footer, menu, body frame, message
*************************************************************/
html, body {
	position: relative
}

/*************************************************************
	Common styles
*************************************************************/
body {
	/* border-top: 3px solid #e80e10; */
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-height: 100%;
	height: 100%;
}

.body-fixed {
	overflow: hidden;
}

/* panel customize */
.qp-panel-heading {
	background-color:#7895cf !important;
}
.panel-heading .qp-heading-icon {
	width: 24px;
	color: #FFFFFF;
}

.panel-heading .qp-heading-text {
	font-weight: bold;
	color: #FFFFFF;
}
.panel-heading .qp-heading-text {
	font-weight: bold;
	color: #FFFFFF;
}

.qp-div-search-condition .qp-heading-icon:before {
	content: "\e003";
}

.qp-div-search-result .qp-heading-icon:before {
	content: "\e012";
}

.qp-div-information .qp-heading-icon:before {
	content: "\e010";
}

.qp-div-select .qp-heading-icon:before {
	content: "\e012";
}

.qp-div-action {
	min-height: 20px;
	padding: 4px;
	text-align: right;
}

.qp-button {
	color: #fff;
	background-color: #5cb85c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',
	endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	background-repeat: repeat-x;
}
/* table customize */
.qp-table-list>tbody>tr>th {
	background-color: #eff5f9;
}


/* menu customize */
.navbar  div{
	background-color:#7895cf !important;
	height: 40px !important;
}
.navbar,.navbar-default, ul.navbar-nav {
	min-height: 40px !important;
	height: 40px !important;
}

li.divider {
	height: 1px !important;
}

.navbar {
	margin: 0 !important;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	font-size: 16px;
	padding-top: 11px;
}

.navbar-fixed-top {
	height: 30px !important; /* Whatever you want. */
}
/* menu brand */
.navbar-default .navbar-brand {
	padding-left: 50px; color : #ffffff;
	padding-top: 8px;
	font-size: 30px;
	color: #ffffff;
}

/* header */
.qp-header-main-text {
	font-size: 18px;
	color: #333333;
}

.qp-link-header {
	text-align: right;
	color: #0033cc;
}
/*selected menu*/

/* Map */
.map {
    height: 100vh;
    /*border: 1px solid black;*/
}

.infor-tab {
	height: 98vh;
	/*border: 1px solid black;*/
	text-align: left;
	padding: 5px 5px 5px 5px;
	overflow-y: scroll;
/* 	overflow: auto; */
}

.infor-tab > table {
	width: 100%;
}

.table-info-vertical th {
	font-size: 15px;
	font-weight: bold;
/* 	text-transform: uppercase; */
}
.table-info-vertical td {
    font-size: 14px;
/*  text-transform: uppercase; */
}

/* nav-tab customize */
.nav-tabs > li {
	border-radius: 1px;
}

.nav-tabs > li.active > a {
	background-color: #eee !important;
	font-weight: bold !important;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

* {
	border-radius: 0 !important;
}

.mgt10{
	margin-top: 10px !important;
}